rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{code} {
      allow read, write: if true;
      match /messages/{msgId} {
        allow read, write: if true;
      }
    }
  }
}
